.fatsecret_home_summary {
  display: none; }

.fatsecret_home_heading {
  display: none; }

.fatsecret_servingentry {
  display: none; }

#fatsecret_diary {
  display: none; }

.fatsecret_fooddiarysummary {
  display: none; }

.fatsecret_heading {
  display: none; }

#fatsecret_nav_4, #fatsecret_nav_2, #fatsecret_nav_8, #fatsecret_nav_16 {
  display: none; }

#answerLabel, #fatsecretButton {
  display: inline-block; }

#chartCountainer {
  margin: auto; }
